*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'SF Light';
}
.container{
    margin: 100%;
    max-width: 1080px;
    margin: auto;
}
.btn{
    padding: 10px 90px;
    background: #4F80F9;
    color: #fff;
    border-radius: 5px;
}